<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Cap nhat bai hat</h2>
<form method="post" th:object="${songDTO}">
    <table>
        <tr>
            <td>Ten bai hat:</td>
            <td>
                <input type="text" th:field="*{name}" required>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </td>
        </tr>
        <tr>
            <td>Ca si:</td>
            <td>
                <input type="text" th:field="*{singer}" required>
                <span th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></span>
            </td>
        </tr>
        <tr>
            <td>The loai:</td>
            <td>
                <input type="text" th:field="*{typeMusic}" required>
                <span th:if="${#fields.hasErrors('typeMusic')}" th:errors="*{typeMusic}"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Them bai hat">
            </td>
        </tr>
    </table>
</form>
</body>
</html>