<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Simple header</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>
    <section>
        <h2>Add Book</h2>
        <form th:object="${bookDTO}" method="post">
            <div class="mb-3">
                <label class="form-label">Tên sách</label>
                <input th:field="*{name}" type="text" class="form-control" required>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Tác sách</label>
                <input th:field="*{author}" type="text" class="form-control" required>
                <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Ảnh của sách</label>
                <input th:field="*{image}" type="text" class="form-control" required>
                <p th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Số lượng sách có trong thư viện</label>
                <input th:field="*{count}" type="number" class="form-control" required>
                <p th:if="${#fields.hasErrors('count')}" th:errors="*{count}" class="text-danger"></p>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Thêm">
            </div>
        </form>
    </section>
</div>
<footer th:replace="~{layout::footer}"></footer>
</body>
</html>