<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Home</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/rental/give/book" class="nav-link">Tra sach</a></li>
        </ul>
    </header>
    <h3>Error</h3>
    <section>
        <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert">
        </div>
    </section>
</div>
<footer th:replace="~{layout::footer}"></footer>
</body>
</html>