<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/layout/header.html"></head>
<body>
<div class="container">
    <h2 class="my-5">Add new Blog</h2>
    <form method="post" th:object="${blog}">
        <div class="row">

            <div class="mb-3">
                <label for="nameBlog" class="form-label">Title</label>
                <input type="text" th:field="*{title}" class="form-control" id="nameBlog">
            </div>
            <div class="mb-3">
                <label for="descriptionBlog" class="form-label">Content</label>
                <textarea th:field="*{content}" class="form-control" id="descriptionBlog"
                          rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="summary" class="form-label">Summary</label>
                <input type="text" th:field="*{summary}" class="form-control" id="summary">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" th:field="*{author}" class="form-control" id="author">
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">URL Img</label>
                <input type="text" th:field="*{img}" class="form-control" id="img">
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Time Post</label>
                <input type="datetime-local" th:field="*{timePost}" class="form-control" id="time">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select id="category" class="form-select" th:field="*{category}">
                    <option th:each="value,loop:${category}" th:value="${value.id}" th:text="${value.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Add Blog</button>
            </div>
        </div>
    </form>
</div>

<footer th:include="/layout/footer.html"></footer>
</body>
</html>