<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Đăng kí tài khoản</h2>
<form method="post" th:object="${userDTO}">
    <table>
        <tr>
            <td>Username:</td>
            <td>
                <input type="text" th:field="*{username}" required>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="text" th:field="*{password}" required>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </td>
        </tr>
        <tr>
            <td>FirstName:</td>
            <td>
                <input type="text" th:field="*{firstName}" required>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td>
                <input type="text" th:field="*{lastName}" required>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </td>
        </tr>
        <tr>
            <td>PhoneNumber:</td>
            <td>
                <input type="number" th:field="*{phoneNumber}" required>
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>
                <input type="date" th:field="*{age}">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" required></span>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="email" th:field="*{email}" required>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Signup">
            </td>
        </tr>
    </table>
</form>
</body>
</html>