<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/template/header.html"></head>
<body>
<div class="container">
    <h2 class="my-5">Add new Product</h2>
    <form method="post" th:object="${product}">
        <div class="row">

            <div class="mb-3">
                <label for="nameProduct" class="form-label">Name Product</label>
                <input type="text" th:field="*{name}" class="form-control" id="nameProduct">
            </div>
            <div class="mb-3">
                <label for="descriptionProduct" class="form-label">Description</label>
                <textarea th:field="*{description}" class="form-control" id="descriptionProduct"
                          rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="priceProduct" class="form-label">Price</label>
                <input type="number" th:field="*{price}" class="form-control" id="priceProduct">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Add Product</button>
            </div>
        </div>
    </form>
</div>

<footer th:include="/template/footer.html"></footer>
</body>
</html>